body {
  background-color: #fff;
  line-height: 2rem;
  font-size: 22px;
  text-align: center;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.5rem;
  margin-top: 7rem;
  letter-spacing: 8px;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

h2 {
  margin-top: 5rem;
  margin-left: 2rem;
  text-align: left;
}

#float {
  float: right;
  text-align: right;
  position: relative;
}

#box {
  margin-top: 7rem;
  margin-left: 20rem;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 50%;
  background-color: #006241;
}

#button1 {
  background-color: rgba(0, 117, 74, 0.7);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 40px;
  border: 1px solid white;
}

#button2 {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 40px;
}

#button3 {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 40px;
  border: 1px solid rgb(3, 3, 3);
}

a.hover,
a.focus,
a.active {
  color: rgba(0, 117, 74, 0.7);
}

#nav-list {
  text-align: left;
  margin-top: 4rem;
  margin-right: 4rem;
  position: relative;
  align-items: center;
}

#nav-list ul {
  list-style-type: none;
  display: inline-block;
}

#nav-list ul li {
  float: left;
}

#nav-list ul li a {
  text-align: center;
  font-size: 1.25rem;
  width: 170px;
  padding: 1em;
  text-decoration: none;
  color: #000;
  border-right: 2px white;
}

#about {
  text-align: left;
  margin-top: 4rem;
  margin-right: 4rem;
  position: relative;
}

ul {
  list-style-type: none;
  display: inline-block;
}

a {
  color: #000;
  text-decoration: none;
}

#nav-list ul li a {
  text-align: center;
  font-size: 1.25rem;
  width: 170px;
  padding: 1em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  border-right: 2px white;
}

.center-logo {
  float: left;
  margin-left: 3rem;
  margin-right: auto;
  width: 3%;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#copyright {
  text-align: left;
  color: #000;
  font-size: 1rem;
}
